<section class="footer">
  <div class="container">
    <span class="footer-item">Text is available under <a href="https://creativecommons.org/licenses/by/4.0/">CC BY 4.0</a></span>
    <span class="footer-item">Original Theme by <a href="<%= config.author_link %>"><%= config.theme_author %></a></span>
    <span class="footer-item">Article Written by <%= config.author %></span>
    <span class="footer-item">Powered by <a href="https://hexo.io">Hexo</a></span>
  </div>
</section>
