<section class="container">
  <article class="article">
    <h2>Welcome!</h2>
    <p>
      The goal of this site is to introduce the LightBlue Bean by PunchThrough Design (Twin Cities origin, wooh!) We will go over a simple project that shows how easy it is to get a useful prototype up and running with the LightBlue Bean. After, there will be sections that overview some select features that would be useful to projects in this class.
    </p>

    <img src="/images/bean_small.jpg"></img>

    <h4>What is the LightBlue Bean?</h4>
    <p>
      The LightBlue Bean is a tiny device with an Arduino chip that is powered by a coin cell battery and has Bluetooth LE capabilities. It has many features and a reasonable price that makes it a very popular and capable device for prototyping IoT projects.
    </p>
    <h4>Why is it cool?</h4>
    <ul>
      <li>Arduino = flexible, easy, and familiar code</li>
      <li>Cool built-in features such as accelerometer, temperature, MIDI, and iBeacon</li>
      <li>You can deploy code from your phone via Bluetooth! (Android + iOS)</li>
    </ul>
    <h4>Why isn't it cool?</h4>
    <ul>
      <li>Non-Apple compatibility is not great (but it is getting better)</li>
      <li>You need Bluetooth LE to program</li>
      <li>Can be difficult to debug</li>
      <li>No power button! My fingernail-less fingers have trouble pulling the battery out</li>
    </ul>
    <h4>What is the developer interface like?</h4>
    <ul>
      <li>
        Loading code to the bean:
        <ul>
          <li>Bean Loader (everything except Windows)</li>
          <li>CLI Loader (all platforms, including Windows)</li>
        </ul>
      </li>
      <li>
        Writing code for the Bean:
        <ul>
          <li>Arduino IDE for your platform, link your BeanLoader</li>
          <li>iOS SDK</li>
          <li>Node SDK: A step towards a cross-platform API. No SDK docs yet, but the npm package is available, so it can be used</li>
        </ul>
      </li>
    </ul>

    <h3><a href="/en/i/getting-started.html">Let's Start Developing</a> or <a href="/en/i/lunch.html">Check out an Example Project</a></h3>
    <p>To learn more about the LightBlue Bean that may be relevant to your class projects, check out the cards below!</p>
    <br><br>

  </article>
</section>
